<div class="   text-[#696969] px-3 py-1 bg-[#E6f4ea] overflow-y-auto">
  <div class="mt-[3vh] flex ">
    <img class="back " src="../../../../assets/images/back.png" routerLink="/profile/user-profile" alt="back">
    <p class=" font-bold text-[24px] text-[#23766A] -translate-y-2">Help & Support</p>
    <img class="h-[28px] w-auto absolute right-4 top-7" src="../../../../assets/images/output-onlinepngtools.png" alt="logo">
</div>
    <br>
    <br>
    <h3>FAQS</h3>
    <div *ngFor="let faq of faqs; let i = index" class="faq-item">
      <div
        class="faq-question"
        (click)="toggleAnswer(i)"
      >
        <span>{{ faq.question }}</span>
        <img src="../../../../assets/images/arrow.png" class="arrow" [class.open]="faq.open" alt="arrow">
        <!-- <span class="arrow" [class.open]="faq.open">▼</span> -->
      </div>
      <div
        class="faq-answer"
        *ngIf="faq.open"
      >
        {{ faq.answer }}
      </div>
    </div>
    <div class="reach-out block mb-[200px] mt-2">
      <p class="justify-center">Still need more help?</p>
      <p>Reach out to us on <span><a href="https://api.whatsapp.com/send/?phone=919353511090">Whatsapp</a></span></p>
    </div>
  </div>
