<div *ngIf="plotDetails" class=" flex flex-col overflow-y-auto overflow-hidden px-3 py-1 text-[#696969] bg-[#E6f4ea]">
    <div class="mt-[3vh] flex ">
        <img class="back " src="../../../../assets/images/back.png" routerLink="/home/home-screen" alt="back">
        <p class=" font-bold text-[18px] text-[#23766A]">{{plotDetails.name}}</p>
        <img class="h-[28px] w-auto absolute right-4 top-7" src="../../../../assets/images/output-onlinepngtools.png" alt="logo">
    </div>
    <div class="mt-[30px] overflow-hidden w-full">
        <img [src]="plotDetails.image" alt="Plot Image" class="w-full object-cover mt-2">
    </div>
    <div class="flex flex-col mt-5">
        <div>
            <p class="text-[#23766A] font-semibold">Discription</p>
        </div>
        <div class="mt-2 smallphone:text-sm text-[#696969]">
            <p class="mt-2 smallphone:text-sm text-[#696969]">{{ plotDetails.description }}
           <span class="hidden-content" id="moreText">Here is the extra hidden content that appears when you click "Read More".</span></p>
            
        </div>
    </div>
     <div class="w-full flex justify-center mt-4"> 
        <span class="read-more" (click)="toggleReadMore()">Read More</span>
    </div> 
    <div class="h-16 w-full flex justify-center items-center mt-5 bg-[#F4F3F3]">
        <p>CROP CYCLES</p>
    </div>
    <div class="h-16 w-full flex justify-center items-center mt-5 bg-[#E9DEDE]">
        <p>PAYOUT INFO</p>
    </div>
    <div class="overflow-x-auto mt-5">
        <div class="flex w-full justify-center">
            <p class="text-center font-bold">BREAKDOWN OF INVESTMENT</p>
        </div>
        <table class="min-w-full bg-white mt-5">
            <thead>
                <tr class="boarder">
                    <th class="text-center align-middle p-4 border border-[#23766A]">NAME</th>
                    <th class="text-center align-middle p-4 border border-[#23766A]">DESCRIPTION</th>
                    <th class="text-center align-middle p-4 border border-[#23766A]">AMOUNT</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border">
                    <th class="text-center align-middle p-4 border border-[#23766A]">LABOUR</th>
                    <td class="text-center align-middle p-4 border border-[#23766A]"></td>
                    <td class="text-center align-middle p-4 border border-[#23766A]"></td>
                </tr>
                <tr class="border">
                    <td class="text-center align-middle p-4 border border-[#23766A]">SEEDS, ETC</td>
                    <td class="text-center align-middle p-4 border border-[#23766A]"></td>
                    <td class="text-center align-middle p-4 border border-[#23766A]"></td>
                </tr>
            </tbody>
        </table>
        <div class="flex flex-col w-full justify-center mt-5">
            <p class="text-center font-medium">BREAKDOWN OF INVESTMENT</p>
            <p class="text-center text-[#23766A]">READ CONTRACT</p>
        </div>
    </div>
    <div class="flex justify-center mt-5 w-full px-10 mb-10">
        <button class="h-12 w-full text-white rounded-lg bg-[#23766A]">INVEST NOW</button>
    </div>
    <div class="bottom-space"></div>
</div>