<div *ngIf="plotDetails" class=" flex flex-col overflow-y-auto overflow-hidden px-3 py-1 text-[#696969] bg-[#E6f4ea] h-[100vh]">
    <div class="mt-[3vh] flex ">
        <img class="back " src="../../../../assets/images/back.png" routerLink="/home/home-screen" alt="back">
        <p class=" font-bold text-[18px] text-[#23766A]">{{plotDetails[index]?.Name}}</p>
        <img class="h-[28px] w-auto absolute right-4 top-7" src="../../../../assets/images/output-onlinepngtools.png" alt="logo">
    </div>
    <div class="mt-[30px]  w-full">
        <img [src]="'https://www.investofarms.com/'+plotDetails[index]?.Image_URL" alt="Plot Image" class="w-full object-cover mt-2">
    </div>
    <div class="flex flex-col mt-5">
        <div>
            <p class="text-[#23766A] font-semibold">Discription</p>
        </div>
        <div class="mt-2 smallphone:text-sm text-[#696969]">
            <p class="mt-2 smallphone:text-sm text-[#696969]">
                {{ plotDetails[index]?.Description | slice:0:50 }}
                <span *ngIf="showMore">{{ plotDetails[index]?.Description | slice:50 }}</span>
            </p>
            
        </div>
    </div>
     <div class="w-full flex justify-center mt-4"> 
        <span class="read-more cursor-pointer text-blue-600" (click)="toggleReadMore()">
            {{ showMore ? 'Read Less' : 'Read More' }}
        </span>
    </div> 
    <app-crop-card></app-crop-card>

        <div class="flex flex-col w-full justify-center mt-5">
            <p class="text-center font-medium">WANT TO KNOW MORE DETAILS?</p>
            <p class="text-center text-[#23766A]">READ CONTRACT</p>
        </div>
    
    <div class="flex justify-center mt-5 w-full px-10 mb-10">
        <button class="h-12 w-full text-white rounded-lg bg-[#23766A]" (click)="makePayment()" >INVEST NOW</button>
    </div>
    <div class="bottom-space mb-20"></div>
</div>