<div class="bg-[#E6f4ea] text-[#2e3b32] h-[100vh] overflow-y-auto">
    <header class="flex bg-[#23766A] rounded-b-xl shadow-xl justify-between w-[100%] items-center p-4">
      <div class="title">
        <h2 class="text-[30px] text-[#B3DDC0] font-bold pl-2 underline-offset-4">Notification</h2>
      </div>
      <div>
        <img class="h-[28px] w-auto" src="assets/images/output-onlinepngtools.png" alt="logo" />
      </div>
    </header>
  
    <div class="flex flex-col mx-2 overflow-y-auto p-1 px-3 mt-[20px] space-y-3">
      <!-- Loop through notifications using *ngFor -->
      <div *ngFor="let notification of notifications" 
           class="flex justify-between items-center bg-[#B3DDC0] p-4 rounded-2xl shadow-sm transition-shadow 
                  hover:shadow-md active:shadow-md focus:shadow-md">
        <div class="flex items-center gap-3">
          <div>
            <img src="assets/images/NotificationImage.svg" alt="Notification Icon"/>
          </div>
          <div class="font-bold text-lg">
            <p>{{ notification.title }}</p>
            <p class="text-sm font-normal text-[#2e3b32]">{{ notification.description }}</p>
          </div>
        </div>
        <div class="font-bold text-md text-[#23766A]">
          <p>{{ notification.time }}</p>
        </div>
      </div>
    </div>
  </div>