.container {
    font-family: Arial, sans-serif;
    padding: 4px 12px 4px 12px;
  }
  .back{
    left: 10px;
    width: auto;
    font-weight: bolder;
    margin-top: 0;
    padding-left: 2px;
    padding-right: 2px;
    height: 20px;
    background-color: transparent;
}