<div class="container text-[#696969] bg-[#E6f4ea] h-[100vh]">
    <div class="mt-[3vh] flex ">
        <img class="back " src="../../../../assets/images/back.png" routerLink="/profile/user-profile" alt="back">
        <p class=" font-bold text-[24px] text-[#23766A] -translate-y-2">About InvestoFarms</p>
        <img class="h-[28px] w-auto absolute right-4 top-7" src="../../../../assets/images/output-onlinepngtools.png" alt="logo">
    </div>
    <br>
    <div class="p-4">
        <h2 class="text-xl">
            InvestoFarms Partners Private Limited, also known as InvestoFarms,
             offers a unique opportunity to invest in farmland without the burdern of ownership or debt.
        </h2>
        <br>
        <h2 class="text-xl">for more info please visit:- <a href="https://www.investofarms.com"><span class="text-[#23766A] font-bold">https://www.investofarms.com</span></a></h2>
    </div>
</div>