<div class="container text-[#2e3b32] bg-[#E6f4ea] h-[100vh]">
    <div class=" flex justify-end">
        <img class="back absolute left-0 top-7" src="../../../../assets/images/back.png" routerLink="/profile/user-profile" alt="back">
        <img class="h-[28px] w-auto absolute right-4 top-7" src="../../../../assets/images/output-onlinepngtools.png" alt="back">

    </div>
    <br>
    <div class="heading flex justify-center mb-1.5 mt-[50px]">
         <h1 class="text-[#23766A] font-bold text-xl">About InvestoFarms</h1>
    </div>
    <h2 class="text-xl">
        InvestoFarms Partners Private Limited, also known as InvestoFarms,
         offers a unique opportunity to invest in farmland without the burdern of ownership or debt.
    </h2>
    <br>
    <h2 class="text-xl">for more info please visit:- <a href="https://www.investofarms.com"><span class="text-[#23766A] font-bold">https://www.investofarms.com</span></a></h2>
</div>