<div class="flex flex-col items-center justify-center h-screen bg-green-50 text-center ">
    <mat-card class="p-6 max-w-md w-full shadow-xl rounded-2xl h-full justify-center">
      <mat-card-header class="justify-center">
        <div mat-card-avatar class="bg-green-500 rounded-full p-3">
          <mat-icon class="text-white">check_circle</mat-icon>
        </div>
        <mat-card-title class="text-green-600 text-2xl font-bold">Payment Successful</mat-card-title>
        <mat-card-subtitle class="text-gray-600">Thank you for your payment</mat-card-subtitle>
        <br>
        <mat-card-subtitle class="text-gray-600">{{paymentData.razorpay_order_id}}</mat-card-subtitle>
        <mat-card-subtitle class="text-gray-600">{{paymentData.razorpay_payment_id}}</mat-card-subtitle>


      </mat-card-header>
      <mat-card-content class="mt-4 text-gray-700">
        <p>Your transaction has been completed successfully.</p>
      </mat-card-content>
      <mat-card-actions class="mt-6 flex justify-center">
        <button mat-raised-button color="primary" routerLink="/dashboard">
          Go to Dashboard
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  