<div class="flex flex-col px-2 overflow-y-auto overflow-hidden text-[#696969] bg-[#E6f4ea] h-[100vh]">
    <div class="mt-[3vh] flex justify-end">
        <img class="back absolute left-0" src="../../../../assets/images/back.png" routerLink="/dashboard/user-dashboard" alt="back">
        <img class="h-[28px] w-auto absolute right-4 top-7" src="../../../../assets/images/output-onlinepngtools.png" alt="logo">
        
             
    </div>
    <div class="mt-[80px] flex flex-row justify-between">
        <div class="bg-[#23766A] flex flex-row items-center w-48 justify-between text-white px-4 h-12">
            <p>All Transactions</p>
            <svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.3714 12.6552L1.1059 3.12172C0.659035 2.66193 0.659035 1.91649 1.1059 1.45675L2.18658 0.344831C2.63268 -0.114174 3.35569 -0.115057 3.80284 0.342868L11.1805 7.89832L18.5582 0.342868C19.0053 -0.115057 19.7283 -0.114174 20.1744 0.344831L21.2551 1.45675C21.702 1.91654 21.702 2.66198 21.2551 3.12172L11.9896 12.6552C11.5428 13.1149 10.8183 13.1149 10.3714 12.6552Z" fill="#FFFEFE"/>
            </svg>                
        </div>
        <div class="bg-[#23766A] flex flex-row items-center w-48 justify-between text-white px-4 h-12">
            <p>All Months</p>
            <svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.3714 12.6552L1.1059 3.12172C0.659035 2.66193 0.659035 1.91649 1.1059 1.45675L2.18658 0.344831C2.63268 -0.114174 3.35569 -0.115057 3.80284 0.342868L11.1805 7.89832L18.5582 0.342868C19.0053 -0.115057 19.7283 -0.114174 20.1744 0.344831L21.2551 1.45675C21.702 1.91654 21.702 2.66198 21.2551 3.12172L11.9896 12.6552C11.5428 13.1149 10.8183 13.1149 10.3714 12.6552Z" fill="#FFFEFE"/>
            </svg>                
        </div>
    </div>
    <div class="flex flex-row justify-between mt-5">
        <div class="font-bold">
            <p>
                TRANSACTIONS
            </p>
        </div>
        <div class="text-[#23766A]">
            VIEW ALL-->
        </div>
    </div>
    <div class="flex flex-row items-center justify-between p-2 mt-4 bg-[#F4F3F3] border border-[#000000]">
        <div>
            <p>PROJECT NAME1</p>
            <P>18/09/2024 | Razorpay ID</P>
        </div>
        <div class="text-[#23766A] text-xl">
            <P>2500></P>
        </div>
    </div>
    <div class="flex flex-row items-center justify-between p-2 mt-4 bg-[#F4F3F3] border border-[#000000]">
        <div>
            <p>PROJECT NAME2</p>
            <P>18/09/2024 | Razorpay ID</P>
        </div>
        <div class="text-[#23766A] text-xl">
            <P>2500></P>
        </div>
    </div> 
    <div class="flex flex-row items-center justify-between p-2 mt-4 bg-[#F4F3F3] border border-[#000000]">
        <div>
            <p>PROJECT NAME3</p>
            <P>18/09/2024 | Razorpay ID</P>
        </div>
        <div class="text-[#23766A] text-xl">
            <P>2500></P>
        </div>
    </div> 
    <div class="flex flex-row items-center justify-between p-2 mt-4 bg-[#F4F3F3] border border-[#000000]">
        <div>
            <p>PROJECT NAME4</p>
            <P>18/09/2024 | Razorpay ID</P>
        </div>
        <div class="text-[#23766A] text-xl">
            <P>2500></P>
        </div>
    </div> 
    <div class="h-[150px] w-[100%]"></div>
</div>