<div class="app-container">
    <!-- Dynamic Content Here -->
    <router-outlet></router-outlet>
  
    <!-- Bottom Navigation Bar with Exclusive Icon Toggle -->
    <div class="bottom-nav flex align-middle h-[75px]" *ngIf="showNavigation">
      <a routerLink="/home/home-screen" class="nav-item" routerLinkActive="active" (click)="toggleIcon('home')">
        <i class="material-icons inline-block justify-items-center h-[75px] w-[70px]">
          <img [src]="activeIcons.home" alt="home icon">
          <p class="text-[15px] not-italic" >Home</p>
        </i>
      </a>
      
      <a routerLink="/setting/setting" class="nav-item" routerLinkActive="active" (click)="toggleIcon('setting')">
        <i class="material-icons inline-block justify-items-center h-[75px] w-[70px]">
          <img [src]="activeIcons.setting" alt="setting icon">
          <p class="text-[15px] not-italic">Settings</p>
        </i>
      </a>
      
      <a routerLink="/dashboard/user-dashboard" class="nav-item" routerLinkActive="active" (click)="toggleIcon('dashboard')">
        <div class="dashboard-icon inline-block justify-items-center">
          <div class="dashboard-outer">
            <i class="material-icons">
              <img [src]="activeIcons.dashboard" alt="dashboard icon">
            </i>
          </div>
          
        </div>
        
      </a>
      
      <a routerLink="/notification/notifications" class="nav-item" routerLinkActive="active" (click)="toggleIcon('notification')">
        <i class="material-icons inline-block justify-items-center h-[75px] w-[70px]">
          <img  [src]="activeIcons.notification" alt="notification icon">
          <p class="text-[15px] not-italic">Notification</p>
        </i>
      </a>
      
      <a routerLink="/profile/user-profile" class="nav-item" routerLinkActive="active" (click)="toggleIcon('profile')">
        <i class="material-icons inline-block justify-items-center h-[75px] w-[70px]">
          <img [src]="activeIcons.profile" alt="profile icon">
          <p class="text-[15px] not-italic ">Profile</p>
        </i>
      </a>
    </div>
    
  </div>
  