.bottom-nav {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
    justify-content: space-around;
    background-color: #F5F6FF;
    z-index: 1000;
    padding: 10px 0;
    transform: translateY(1px);
  }
  
  .nav-item {
    padding: 2px ;
    position: relative; /* To enable absolute positioning within this container */
    transform: translatey(5px);
  }
  .material-icons img {
    width: 24px; /* Adjust the image size as needed */
    height: 24px;
    border: 1px #fff;
  }
  .dashboard-icon{
    display: flex;
    position: absolute;
    justify-content: center;
    left: 15px;
    align-items: center;
    border-radius: 50%;

    width: 100px;
    height: 100px;
    background-color: #F5F6FF;
    transform: translateX(-35px);
  }
  .dashboard-outer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: white;
    box-shadow: 0 2px 2px 2px silver;
    border-radius: 50%;
    border-top-left-radius: -20px;
  }
  
  /* Target the center button specifically */
  .bottom-nav .nav-item:nth-child(3) {
    transform: translateY(-65px); /* Move the center button upward */
    z-index: 30; /* Make sure it's on top of the other buttons */ 
    border: 5px;
    width: 58px;
    height: 58px;
  
  
  }
  