<div class=" text-[#696969] px-3 py-1 bg-[#E6f4ea]">
    <div class="mt-[3vh] flex ">
        <img class="back " src="../../../../assets/images/back.png" routerLink="/profile/user-profile" alt="back">
        <p class=" font-bold text-[24px] text-[#23766A] -translate-y-2">Our Mission & Vision</p>
        <img class="h-[28px] w-auto absolute right-4 top-7" src="../../../../assets/images/output-onlinepngtools.png" alt="logo">
    </div>
    <br>
    <div class="mb-[120px]">
        <div class="timeline py-4">
            
            <div class="content flex">
                <div>
                    <div class="dot"></div>
                    <div class="vl h-full"></div>
                </div>
                <div>
                    <div class="title">1. Discovery</div>
                    <div class="text ml-4">
                        The potential investor stumbles upon an InvestoFarms social media ad or blog post that highlights achieving FIRE (Financial Independence, Retire Early) through farmland investments.
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline py-4">
            
            <div class="content flex">
                <div>
                    <div class="dot"></div>
                    <div class="vl h-full"></div>
                </div>
                <div>
                    <div class="title">2. Initial Exploration</div>
                    <div class="text ml-4">
                        Intrigued, the potential investor visits the InvestoFarms website and explores the homepage. Clear information about non-equity investment, potential for passive income, and tax-free returns grabs their attention.
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline py-4">
            <div class="content flex">
                <div>
                    <div class="dot"></div>
                    <div class="vl h-full"></div>
                </div>
                <div>
                    <div class="title">3. Deeper Dives</div>
                    <div class="text ml-4">
                        For a more thorough understanding, the investor had a one-on-one meeting with our experts who shared in-depth details.
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline py-4">
            <div class="content flex">
                <div>
                    <div class="dot"></div>
                    <div class="vl h-full"></div>
                </div>
                <div>
                    <div class="title">4. Calculating Investment Potential</div>
                    <div class="text ml-4">
                        An InvestoFarms investment calculator tool empowers the potential investor to estimate potential returns based on their desired investment amount and timeframe.
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline py-4">
           
            <div class="content flex">
                <div>
                    <div class="dot"></div>
                    <div class="vl h-full"></div>
                </div>
                <div>
                    <div class="title">5. Addressing Concerns</div>
                    <div class="text ml-4">
                        The potential investor efficiently utilizes the websites FAQ section or initiates a live chat with our experts answers and clarification.
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline py-4">
            <div class="content flex">
                <div>
                    <div class="dot"></div>
                    <div class="vl h-full"></div>
                </div>
                <div>
                    <div class="title">6. Decision Making</div>
                    <div class="text ml-4">
                        Feeling confident and informed, the potential investor decides to proceed with investing. They carefully choose a specific farm project that aligns with their investment goals and risk tolerance.
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline py-4">
            <div class="content flex">
                <div>
                    <div class="dot"></div>
                    <div class="vl h-full"></div>
                </div>
                <div>
                    <div class="title">7. Investment Process</div>
                    <div class="text ml-4">
                        A secure online portal guides the potential investor through the investment process. They electronically review the investment agreement and proceed to the payment gateway for a seamless transaction.
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline py-4">
            <div class="content flex">
                <div>
                    <div class="dot"></div>
                    <div class="vl h-full"></div>
                </div>
                <div>
                    <div class="title">8. Onboarding</div>
                    <div class="text ml-4">
                        Following a successful payment, the potential investor receives a welcome email with login credentials for their dedicated investor portal. This portal provides access to investment details, performance reports, farm updates, and communication channels, keeping them informed and engaged.
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>