<div class=" text-[#2e3b32] px-3 py-1 bg-[#E6f4ea] h-[100vh]">
    <header>
        <div class="mt-[3vh] flex justify-end">
        <img class="back absolute left-0" src="../../../../assets/images/back.png" routerLink="/profile/user-profile" alt="back">
        <img class="h-[28px] w-auto absolute right-4 top-7" src="../../../../assets/images/output-onlinepngtools.png" alt="back">
        
                    
      </div>
      <br>
      <div class="title text-center mt-4">
          <h2 class="text-[24px] text-[#23766A] font-bold pl-2 underline">Account Details</h2>
      </div>
        </header>
        <br>

        <section>
            <div class="details">
                <ul>
                    <form action="#" class="">
                        <ul>
                            <li class="enter">
                                <label for="fname">First Name</label><input class="border-2 border-solid border-green-300 text-gray-400 pl-3"  type="text" id="fname" name="fname" value="insert first name">
                            </li>
                            <li class="enter">
                                <label for="lname">Last Name</label><input class="border-2 border-solid border-green-300 text-gray-400 pl-3"  type="text" id="lname" name="lname" value="insert last name">
                            </li>
                            <li class="enter">
                                <label for="email">Email</label><input class="border-2 border-solid border-green-300 text-gray-400 pl-3"  type="email" id="email" name="email" value="xyz@.com" readonly>
                            </li>
                            <li class="enter">
                                <label for="phoneNumber">Phone Number</label><input class="border-2 border-solid border-green-300 text-gray-400 pl-3"  type="text"   id="phoneNumber" name="phoneNumber"  onfocus="this.value=''" 
                                value="952486XXXX">
                            </li>
                        </ul>
                        <br>     
                            <div class="btn h-8 w-28 bg-[#23766A] text-center rounded-md text-white float-right pt-2 pb-8 border-2 border-gray-500 ">
                            <input type="submit" value="Update">
                            </div>
                    </form>
                </ul>
            </div>
        </section>
</div>