<div class="text-[#2e3b32] px-4 py-2 bg-[#E6F4EA] min-h-[100vh] overflow-auto" [ngClass]="{ 'pb-[300px]': isKeyboardOpen }" #formContainer>
  <!-- Header Section -->
  <div class="mt-[2vh] flex items-center justify-between px-4">
    <img (click)="goBack()" class="h-6 w-6 cursor-pointer hover:opacity-80 transition-opacity" src="../../../../assets/images/back.png" alt="back">
    <p class="font-bold text-[24px] text-[#23766A]">Account Details</p>
    <img class="h-8 w-auto" src="../../../../assets/images/output-onlinepngtools.png" alt="logo">
  </div>

  <!-- Form Section -->
  <section class="mt-6 px-4">
    <form class="example-form w-full text-[#23766A]">
      <!-- First Name -->
      <div class="mb-6">
        <label class="block text-[#23766A] font-medium mb-2">First Name</label>
        <input type="text" placeholder="First Name"(focus)="adjustFormPadding($event)" (blur)="resetFormPadding()"
               class="w-full bg-white rounded-lg border-[#23766A] border-2 p-3 placeholder-[#23766A] focus:outline-none focus:ring-2 focus:ring-[#28937F] focus:border-transparent">
      </div>

      <!-- Last Name -->
      <div class="mb-6">
        <label class="block text-[#23766A] font-medium mb-2">Last Name</label>
        <input type="text" placeholder="Last name"  (focus)="adjustFormPadding($event)" (blur)="resetFormPadding()"
               class="w-full bg-white rounded-lg border-[#23766A] border-2 p-3 placeholder-[#23766A] focus:outline-none focus:ring-2 focus:ring-[#28937F] focus:border-transparent">
      </div>

      <!-- Email -->
      <div class="mb-6">
        <label class="block text-[#23766A] font-medium mb-2">Email</label>
        <input type="email" [formControl]="emailFormControl" (focus)="adjustFormPadding($event)" (blur)="resetFormPadding()"
               class="w-full bg-white rounded-lg border-[#23766A] border-2 p-3 placeholder-[#23766A] focus:outline-none focus:ring-2 focus:ring-[#28937F] focus:border-transparent"
               placeholder="Ex. investo@support.com" readonly>
        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
          <p class="text-[#E9B90F] text-sm mt-2">Please enter a valid email address</p>
        }
        @if (emailFormControl.hasError('required')) {
          <p class="text-[#E9B90F] text-sm mt-2">Email is <strong>required</strong></p>
        }
      </div>

      <!-- Date of Birth -->
      <div class="mb-6">
        <label class="block text-[#23766A] font-medium mb-2">Date of Birth</label>
        <input type="date" (focus)="adjustFormPadding($event)" (blur)="resetFormPadding()"
               class="w-full bg-white rounded-lg border-[#23766A] border-2 p-3 placeholder-[#23766A] focus:outline-none focus:ring-2 focus:ring-[#28937F] focus:border-transparent">
        <p class="text-[#23766A] text-sm mt-2">MM/DD/YYYY</p>
      </div>

      <!-- Phone Number -->
      <div class="mb-6">
        <label class="block text-[#23766A] font-medium mb-2">Phone Number</label>
        <div class="flex items-center bg-white rounded-lg border-[#23766A] border-2 p-3 focus-within:ring-2 focus-within:ring-[#28937F] focus-within:border-transparent">
          <span class="text-[#23766A]">+91</span>
          <input type="tel" placeholder="98765432XX" (focus)="adjustFormPadding($event)" (blur)="resetFormPadding()"
                 class="w-full ml-2 focus:outline-none">
        </div>
      </div>

      <!-- City -->
      <div class="mb-6">
        <label class="block text-[#23766A] font-medium mb-2">City</label>
        <input type="text" placeholder="Ex. Bengaluru" (focus)="adjustFormPadding($event)" (blur)="resetFormPadding()"
               class="w-full bg-white rounded-lg border-[#23766A] border-2 p-3 placeholder-[#23766A] focus:outline-none focus:ring-2 focus:ring-[#28937F] focus:border-transparent">
      </div>

      <!-- State -->
      <div class="mb-6">
        <label class="block text-[#23766A] font-medium mb-2">State</label>
        <input type="text" placeholder="Ex. Karnataka" (focus)="adjustFormPadding($event)" (blur)="resetFormPadding()"
               class="w-full bg-white rounded-lg border-[#23766A] border-2 p-3 placeholder-[#23766A] focus:outline-none focus:ring-2 focus:ring-[#28937F] focus:border-transparent">
      </div>

      <!-- Postal Code -->
      <div class="mb-6">
        <label class="block text-[#23766A] font-medium mb-2">Postal Code</label>
        <input type="text" placeholder="Ex. 530068" (focus)="adjustFormPadding($event)" (blur)="resetFormPadding()"
               class="w-full bg-white rounded-lg border-[#23766A] border-2 p-3 placeholder-[#23766A] focus:outline-none focus:ring-2 focus:ring-[#28937F] focus:border-transparent">
      </div>

      <!-- Buttons -->
      <div class="flex  gap-4 mb-8">
        <button type="submit" class="bg-[#23766A] w-full text-white px-6 py-2 rounded-lg hover:bg-[#28937F] transition-colors shadow-md active:scale-95">
          Update
        </button>
        <button class="bg-[#E9B90F] text-white w-full px-6 py-2 rounded-lg hover:bg-[#DAA520] transition-colors shadow-md active:scale-95">
          Edit
        </button>
      </div>
    </form>
  </section>
</div>
