
  <div class=" text-[#696969] px-3 py-1 bg-[#E6f4ea] ">
    <header>
      <div class="mt-[3vh] flex justify-end">
        <img class="h-[28px] w-auto absolute right-4 top-7" src="../../../../assets/images/output-onlinepngtools.png" alt="back">
    
    </div>
      <br>
      <div class="profile">
        <img src="assets/images/profilePic.png" alt="Profile Avatar" class="avatar" />
        <div class="profile-info">
          <h3>Test Profile</h3>
          <h3>+918509555276</h3>
        </div>
      </div>
    </header>

    <section>
      <h3 class="profile-setting">Profile Setting</h3>
      <ul>
        <li routerLink="/profile/account-details">
          <p class="font-medium">Account Details</p><img class="arrow-right" src="../../assets/images/Chevron right.png" alt="arrow-right"></li>
        <li>
          <p class="font-medium">Nominee Details</p><img class="arrow-right" src="../../assets/images/Chevron right.png" alt="arrow-right"></li>
        
        <li class="kyc-item">
          <p class="font-medium">KYC Details</p>
          
          <span *ngIf="isKYCCompleted" class="text-[#28937F]">
            Done
          </span>
          <span *ngIf="!isKYCCompleted" class="text-[#E9B90F]">
            Pending
          </span>
        </li>
      </ul>
    </section>

    <section>
      <h3 class="general-setting">General Setting</h3>
      <ul>
        <li><p class="font-medium">Security and Permission</p>  <img class="arrow-right" src="../../assets/images/Chevron right.png" alt="arrow-right"></li>

        <li routerLink="/profile/help-and-support" class="help-and-support">
          <p class="font-medium">Help and Support</p> 
          <img class="arrow-right" src="../../assets/images/Chevron right.png" alt="arrow-right"></li>

       <li routerLink="/profile/our-mission">
        <p class="font-medium">Our Mission & Vision</p><img class="arrow-right" src="../../assets/images/Chevron right.png" alt="arrow-right"></li>
      </ul>
    </section>

    <footer>
      <h3 class="about-investofarms" routerLink="/profile/about-investofarms">About InvestoFarms<img class="arrow-right" src="../../assets/images/Chevron right.png" alt="arrow-right"></h3>
      <button class="feedback">Feedback</button>
      <button routerLink="/Login" class="logout">Logout</button>
    </footer>
    <div class="empty h-32 w-auto"></div>
  </div>
