<div class="flex flex-col px-3 overflow-y-auto overflow-hidden p-1 text-[#696969] bg-[#E6f4ea] h-[100vh]">
    <div class="mt-[3vh] flex justify-end ">
        <img class="h-[28px] w-auto absolute right-4 top-7" src="../../../../assets/images/output-onlinepngtools.png" alt="logo">
              
    </div>
    <div class="mt-[30px]  w-full ">
        <app-progress-image class="w-[100%]"></app-progress-image>
    </div>
    <div class="mt-4  w-full">
        <img src="assets/images/adv-image.svg" alt="" class="w-full object-cover">
    </div>
    <div *ngFor="let item of news; let i = index" class="flex flex-row justify-center items-center gap-6 border-2 border-[#23766A] p-2 w-full mt-5 mb-10">
        <div>
            <div class="w-28 h-28 border-2 border-[#23766A] rounded-full flex justify-center items-center">
                    <img [src]="'https://investofarmspartners.com/'+item.Image_URL" alt="">
            </div>
        </div>
        <div class="">
            <div class="flex flex-row w-full justify-between px-2">
                <div class="">
                    <p class="text-[#23766A] text-lg font-medium">News</p>
                </div>
                <div>
                </div>
            </div>
            <div class="px-2">
                <p class="text-[#23766A] text-base">{{item.Title}}</p>
            </div>
            <div class="mt-2 font-normal text-sm">
                {{item.Description}}
                <!-- <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. mattis ligula consectetur ultrices mauris. Maecenas vitae mattis tellus..</p> -->
            </div>
        </div>
        
    </div>
    <div class="bottom-space m-10"></div>
</div>